* {
	font-family: sans-serif;
	font-size: 12pt;
}

body {
	background: antiquewhite;
}

h1 {
	font-size: 16pt;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border-radius: 10px;
	background: chartreuse;
}
